{% extends 'base.html' %}

{% block title %}
     <title>Book Site | Genre Books </title>
     {% endblock %}
{% block content %}
<div class = 'container'>
    <div class = 'row'><h4></h4></div>
    <div class = 'row'>
      {% for book in category.books.all %}
      <div class = 'col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2'>
        <a href = "{% url 'book_detail' book.slug %}">
          <div>
            <div class="uk-card uk-card-default uk-card-body"> 
                <img src = "{{book.cover_image.url}}">
               
            </div>
        </div>
      </a>
      </div>
      {% endfor %}
      
      
    </div>
  </div>
  {% endblock %}
  
  