{% extends 'base.html' %}
{% block title %}
<title>Book Site | Searched Books</title>
{% endblock %}

{% block content %}
<div class = 'container'>
    <div class = 'row'><h4>Searched Book</h4></div>
    <div class = 'row'>
        {% if searched_books %}
       {% for book in searched_books %}
      <div class = 'col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2'>
        <a href = "">
          <div>
            <div class="uk-card uk-card-default uk-card-body"> 
                <img src = "{{book.cover_image.url}}">
               
            </div>
        </div>
      </a>
      </div>
      {% endfor %}
      {% else %}
      <div class = 'row'>
          <h3>Book Not Available! Check Back Later</h3>
      </div>
      {% endif %}
      

    </div>
  </div>
  {% endblock %}